.header {
    text-align: center;
}

.add-place {
    border: 1px solid black;
    height: 60px;
}

.horizontal-flex-container {
    /* basic styling */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    /* flexbox setup */
    display: flex;
    flex-direction: row;
}

    .horizontal-flex-container > .flex-item {
        flex: 0 1 auto;
    }

.flex-item h5 {
    margin: 4px 3px;
}

.vertical-flex-container {
    /* basic styling */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    /* flexbox setup */
    display: flex;
    flex-direction: column;
}


.custom-table {
    margin: 15px 0 0 0;
    border: 1px solid black;
}

    .custom-table * {
        width: 100%;
    }

    .custom-table > .flex-item:first-child {
        background: lightgray;
    }

    .custom-table > .flex-item:nth-child(even) {
        background: whitesmoke;
    }


.pagination {
    word-spacing: -1em; /* hide whitespace between elements if separated by whitespace in the source */
    text-align: center;
}

    .pagination li {
        display: -moz-inline-box; /* FF2 or lower */
        display: inline-block;
        word-spacing: normal;
        vertical-align: top;
        /* IE6/7 inline-block hack */
        *display: inline;
        *zoom: 1;
    }